@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}